.center-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 12px
}
.lets-btn{
    background-color: #25262a;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.welcome-msg{
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    cursor: default;
}